<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.esiea.androidproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:name=".injection.EsieaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Android Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.menu.MenuActivity"
            android:parentActivityName=".presentation.main.MainActivity">
        </activity>
        <activity
            android:name=".presentation.menu.first.FirstActivity"
            android:parentActivityName=".presentation.menu.MenuActivity">
        </activity>
        <activity
            android:name=".presentation.menu.first.SunsetPhotoActivity"
            android:parentActivityName=".presentation.menu.first.FirstActivity">
        </activity>
        <activity
            android:name=".presentation.menu.second.SecondActivity"
            android:parentActivityName=".presentation.menu.MenuActivity">
        </activity>
        <activity
            android:name=".presentation.menu.third.YoutubeActivity"
            android:parentActivityName=".presentation.menu.MenuActivity">
        </activity>

        <activity
            android:name=".presentation.menu.fourth.CatActivity"
            android:parentActivityName=".presentation.menu.MenuActivity">
        </activity>
    </application>

</manifest>